/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
  font-family: sans-serif;
}

nav {
  justify-content: space-between;
  align-items: center;
  background-color: #540b51;
  padding: 30px;
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar li {
  display: none;
  color: #fff;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;

}

.navbar-list {
  display: flex;
}

.logo {
  width: 100px;
}

.nav-button button {
  background-color: #540b51;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #540b51;
}

.header-container h1 {
  color: #fff;
  font-size: 2.8rem;
}

.header-container p {
  color: #fff;
  font-size: 1.1rem;
}

.header-container span {
  color: #ecb12f;
}

.header-button {
  display: flex;
  flex-direction: column;
}

.header-button button {
  height: 50px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}

.email-button {
  color: #540b51;
}

.button-google {
  background-color: #4285f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-google span {
  color: #fff;
  margin: auto;
}

.logo-google {
  width: 30px;
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
}

.companies-container {
  background-color: #f3eae2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.companies-container p {
  color: #000000;
  font-size: 1.1rem;
  font-weight: bold;
}

.companies-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.companies-images img {
  margin: 5px;
}

.logo-airbnb {
  width: 100px;
  height: 50px;
}

.logo-nasa {
  width: 50px;
  height: 50px;
}

.logo-uber {
  width: 60px;
  height: 50px;
}

.logo-target {
  width: 50px;
  height: 50px;
}

.logo-nyt {
  width: 200px;
  height: 50px;
}

.logo-spotify {
  width: 150px;
  height: 50px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-container h3 {
  color: #540b51;
  font-size: 2.1rem;
  margin-bottom: 5px;
}

.info-container p {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  width: 90%;
}

.info-list {
  list-style: none;
  width: 50%;
}

.info-item span {
  color: #540b51;
  font-weight: bold;
  font-size: 3rem;
}

.info-item p {
  margin-bottom: 0;
}

.item-description {
  margin: 0 0 10px 0;
}

.welcome-container {
  background-color: #540b51;
  padding: 30px;
}

.welcome-container h3 {
  color: #fff;
  font-size: 2rem;
}

.welcome-container button {
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
  height: 50px;
}

.button-try {
  color: #540b51;
  border: none;
}

.button-talk {
  background-color: #540b51;
  color: #fff;
  border: #fff solid 1px;
}

footer {
  border-top: solid 2px lightgrey;
  margin-top: 30px;
}

.footer-links {
  list-style: none;
  margin-bottom: 0;
}

.footer-links li {
  margin: 20px auto;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}

.footer-links li img {
  margin-right: 10px;
}

.social-network {
  list-style: none;
}

.social-network li {
  font-size: 20px;
}

.footer-p {
  padding: 15px;
}

@media (width < 768px) {
  .header-container {
    padding: 5px;
  }

  .header-container h1 {
    text-align: center;
  }

  .header-container p {
    text-align: center;
  }

  .header-button button {
    padding: 10px;
    text-align: center;
    margin: 10px 20px;
  }

  .hero-container img {
    margin: 30px auto;
    width: 100%;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-container h3 {
    text-align: center;
  }

  .button-container button {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .social-network {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

@media (width > 768px) and (width < 1024px) {
  header {
    background-image: url('../images/hero-product-ui.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .header-container {
    padding: 20px;
  }

  .header-container h1 {

    font-size: 4rem;
    width: 60%;
    margin: 0;
  }

  .header-container p {
    width: 60%;
  }

  .header-button {
    width: 60%;
  }

  .header-button button {
    padding: 10px;
    text-align: center;
    margin: 10px 0;
  }

  .hero-container {
    display: none;
  }

  .info-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-container h3 {
    text-align: center;
  }

  .button-container button {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-network {
    display: flex;
    margin-bottom: 30px;
  }

  .social-network li {
    margin-right: 5%;
  }
}

@media (width > 1024px) and (width < 1440px) {
  header {
    background-image: url('../images/hero-product-ui.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .navbar {
    width: 160%;
  }

  .navbar-list {
    width: 160%;
    justify-content: space-evenly;
  }

  .navbar-list li {
    display: flex;
    justify-content: space-between;
  }

  .menu-icon {
    display: none;
  }

  .nav-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .hidden-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .SingIn-button {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin: auto 10px;
  }

  .TryforFree-button {
    color: #540b51;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin: auto 10px;
  }

  .header-container {
    padding: 20px;
  }

  .header-container h1 {
    font-size: 4rem;
    width: 60%;
    margin: 0;
  }

  .header-container p {
    width: 60%;
  }

  .header-button {
    width: 60%;
  }

  .header-button button {
    padding: 10px;
    text-align: center;
    margin: 10px 0;
  }

  .hero-container img {
    width: 500px;
    display: none;
  }

  .info-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-container h3 {
    text-align: center;
  }

  .button-container button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    display: flex;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-network {
    display: flex;
    margin-bottom: 30px;
  }

  .social-network li {
    margin-right: 5%;
  }
}

@media (width > 1440px) {
  header {
    background-image: url('../images/hero-product-ui.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .navbar {
    width: 160%;
  }

  .navbar-list {
    width: 160%;
    justify-content: space-evenly;
  }

  .navbar-list li {
    display: flex;
    justify-content: space-between;
  }

  .menu-icon {
    display: none;
  }

  .nav-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .hidden-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .SingIn-button {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin: auto 10px;
  }

  .TryforFree-button {
    color: #540b51;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin: auto 10px;
  }

  .header-container {
    padding: 20px;
  }

  .header-container h1 {
    font-size: 4rem;
    width: 60%;
    margin: 0;
  }

  .header-container p {
    width: 60%;
  }

  .header-button {
    width: 60%;
  }

  .header-button button {
    padding: 10px;
    text-align: center;
    margin: 10px 0;
  }

  .hero-container img {
    width: 500px;
    display: none;
  }

  .info-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-container h3 {
    text-align: center;
  }

  .button-container button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    display: flex;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-network {
    display: flex;
    margin-bottom: 30px;
  }

  .social-network li {
    margin-right: 5%;
  }
}